{% extends './base.html' %} {% block title %}Home Page{% endblock %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<body>
<h1></h1>
<div class="row">

    
<h2 class="Heading">What we do:</h2>
<p class="txt">Starting from 2023, Edison's Path work towards improving the current bus system embodies the life of any student attending a school in the Edison school system.
 Utilizing our given model to our company's culture and plan, we see our website as a solution to the current problems present in Edison.</p>

<h3 class="Heading">Our Problem:</h3>
<p class="txt">Taking  a bus these days is a problem in many different ways. 
    One of these problems is late buses. 
    If you have an extracurricular class after school, you will have to rely on your bus to arrive on time. 
    The bus might also come late in the morning to pick students up. 
    Another problem is if your bus arrives early. 
    You will never know if your bus arrives early or late, and if your bus arrives earlier than expected, and you don't reach the bus stop on time, then it's no question that you will miss your bus. 
    We have taken notice of this problem, which is why we have created our app, the edisons path.</p>

<h3 class="Heading">Our Solution:</h3>
<p class="txt">With Edison's Path, students can plan accordingly to their buses. 
    If their bus comes late in the morning, they can be dropped to school instead of relying on the bus.
      In the evening, if they have extracurricular classes, they can also plan based on the bus's arrival and reschedule or postpone their class.
       We have taken notice of this problem, which is why we have created our app, the edisons path. 
       With our app, students will be able to track their buses to determine what time it will arrive.</p>
</body>
</html>
{% endblock %}
