{% extends './base.html' %} {% block title %}Home Page{% endblock %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <img class="landing-img" src="{% static 'img/landing.jpeg' %}"  width=100%>
        <h1 class="landing-call">Never miss your <br> bus again.</h1>
        <p class="landing-text">Starting from 2023, Edison's Path work towards improving the current bus system <br> embodies the life of any student attending a school in the Edison school system. <br>
            Utilizing our given model to our company's culture and plan,we see our website <br> as a solution to the current problems present in Edison.</p>
        <a class="landing-start-button">Start Today</a>
    </div>
</body>
</html>
{% endblock %}